.Background{

    -fx-background-color: linear-gradient(to bottom,#0E2954,#1F6E8C,#2E8A99,#84A7A1);
}

.bottomBackground{
    -fx-background-color: linear-gradient(to bottom,#2807a5,#3a66c5,#3082cf,#8aa8e6);

}

.bottomBackgroundColour{

    -fx-background-color:linear-gradient(to bottom, #de5a61, #fe9baa, #feb8c4, #ff9baa);
}

.topBackground{
    -fx-background-color: linear-gradient(to bottom,#8aa8e6,#3082cf,#3a66c5,#2807a5);

}


.button{
    -fx-background-color: #233b4a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #FFFFFF;

}
.text-field{
    -fx-background-radius: 10px;
    -fx-pref-height: 30px;
    -fx-border-radius: 10px;
    -fx-border-color: #233b4a;
}

.background{
    -fx-background-color: linear-gradient(to left, #ff798b,transparent);

}

.pane-box{
    -fx-background-color: rgba(0,0,0 ,0.2);
    -fx-background-radius: 20;
    -fx-padding: 10px;
}

.NameLabel {
    -fx-text-fill:#de5a61 ;
    -fx-background-redius: 20;
    -fx-effect: dropshadow(gaussian,#2807a5, 10, 0.1, 0, 0);
    -fx-font-size: 18px;
}

.sendLabel {
    -fx-background-redius: 20;
    -fx-effect: dropshadow(gaussian, #1b72e4, 5, 0.1, 0, 0);
    -fx-font-size: 14px;
}

.button-login{
    -fx-text-fill:white ;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color: #fe6075 ;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian,#000001, 10, 0.1, 0, 0);
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
}

